# Python
__pycache__/
*.pyc
.venv/
.env

# Conda
.conda/
conda-bld/

# Jupyter
.ipynb_checkpoints/
# *.ipynb

# Quarto
.quarto/
_site/

# Data outputs (generated locally)
data/raw/
data/processed/

# IDEs
.vscode/
.idea/
.DS_Store
.Rhistory
.Rproj.user/

/.quarto/
**/*.quarto_ipynb

notes.txt

data_pipeline/outputs/*
data_pipeline/raw_data/*
data_pipeline/data/*
data/*
shared-notebooks/data/
shared-notebooks/notebooks/val/r/enriched_flights_NEW.csv


images/other/*
